h1{leleco
    text-align:center;
    background-color: aqua;
}
h2{
    text-align:center
}
h3{
    font-style: oblique;
    background-color: red;
    text-align: center;
}

p {
    text-align: center;
    font-size: medium;
}
strong {
    font-size: larger;
}

body {
    background-color: aquamarine;
}
.leoniro{
    color: pink
}
.brilho {
    background-color: aqua
}
